@import 'variables.scss';

@layer reset, primeng;

@layer reset {
    button {
      &:focus {
        box-shadow: none !important;
      }
    }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $in-background-color;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.p-dropdown .p-dropdown-trigger{
  border-left: 1px solid $in-drop-down-selector-color;
}

h1, h2, h3, h4 {
  color: $primary-color;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a6d5d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #70bcc2;
}

p-inputMask {
  width: 100%;

  input {
    width: 100%;
  }
}

.p-dropdown {
  width: 100%;
}

.p-inputnumber {
  width: 100%;
}

.p-calendar {
  width: 100%;
}

