<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <app-drawer></app-drawer>
  </ng-template>

  <ng-template pTemplate="end">
    <p-iconField iconPosition="right" class="mr-2">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Pesquisar" />
    </p-iconField>

    <p-button
      pTooltip="Sair"
      showDelay="700"
      hideDelay="300"
      icon="pi pi-sign-out"
      (onClick)="logout()"
      rounded="true"
      severity="primary"
      text="true"
      size="large"
    />
  </ng-template>
</p-menubar>
