::ng-deep {
  .fc .fc-col-header-cell {
    text-transform: capitalize;
  }

  .fc {
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 20px;
    position: relative;
  }

  .fc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    z-index: -1;
  }

  .fc .fc-header-toolbar {
    border-bottom: none;
    box-shadow: none;
    text-align: center;
    padding: 5px 15px 5px 0;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .fc .fc-header-toolbar h2 {
    font-size: 1.8rem;
    color: #333333;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
  }

  .fc .fc-button {
    background-color: #7256F3;
    border: none;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .fc .fc-button:hover {
    background-color: #5a44c3;
    transform: scale(1.05);
  }

  .fc .fc-button:active {
    transform: scale(0.95);
  }

  .fc .fc-daygrid-day-number {
    font-size: 1.5rem;
    color: #7256F3;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 50%;
    padding: 6px 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  }

  .fc .fc-daygrid-day-number:hover {
    background-color: #7256F3;
    color: #ffffff;
    transform: scale(1.1);
    cursor: pointer;
  }

  .fc .fc-daygrid-day {
    background-color: #ffffff;
    border: none;
    text-align: center;
    transition: background-color 0.2s ease;
  }

  .fc .fc-daygrid-day:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  .fc .fc-daygrid-day.fc-day-today {
    background-color: #f0f4ff;
    box-shadow: 0 0 10px rgba(114, 86, 243, 0.2);
  }

  .fc .fc-daygrid-week-number {
    background-color: #f9f9f9;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
  }

  .fc-scrollgrid-sync-inner {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fc .fc-event {
    background-color: #7256F3;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    overflow: hidden;
  }

  .fc .fc-event .fc-event-title {
    display: none;
  }

  .fc .fc-event:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .fc .fc-daygrid-day .fc-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Dialog scrollbar
::ng-deep {
  .p-dialog .p-dialog-content {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .p-dialog .p-dialog-content::-webkit-scrollbar {
    display: none;
  }
}
// Dialog scrollbar
