<div class="grid">
  <div class="col-6">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Minha Agenda</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end align-content-center">
    <p-button
      outlined="true"
      label="Integrar com Google Calendar"
      icon="pi pi-google"
      [loading]="loading"
      (onClick)="load()"
    />
  </div>
</div>

<div class="grid mt-4 h-screen">
  <div class="col-9 flex align-content-center">
    <app-scheduler></app-scheduler>
  </div>
  <div class="col-3 flex justify-content-center align-content-center">
    <p-card [style]="{ width: '360px' }">
      <p-tabView>
        <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title">
          <p>
            {{ tab.content }}
          </p>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>
