<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="grid">
  <div class="col-6">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Novo Usuário</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end align-content-center">
    <!-- <p-button label="Cadastrar" icon="pi pi-plus" (onClick)="create()" /> -->
  </div>
</div>

<div class="grid">
  <div class="col-9">
    <form [formGroup]="form" (ngSubmit)="save()">
      <p-card header="Dados básicos" subheader="Informe os dados do usuário">
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="username">Nome completo</label>
              <input type="text" pInputText formControlName="name" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="email">E-mail</label>
              <input type="text" pInputText formControlName="email" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="password">Senha</label>
              <p-password
                promptLabel="Digite a senha do usuário"
                weakLabel="Senha fraca"
                mediumLabel="Senha razoável"
                strongLabel="Senha forte"
                [toggleMask]="true"
                formControlName="password"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Celular (WhatsApp)</label>
              <p-inputMask mask="(99) 99999-9999" formControlName="phone" />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Perfil</label>
              <p-dropdown
                [options]="userRoles"
                class="flex w-50rem"
                optionLabel="label"
                optionValue="id"
                formControlName="userRole"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Status</label>
              <p-dropdown
                [options]="statuses"
                class="flex w-50rem"
                optionLabel="label"
                optionValue="id"
                formControlName="status"
              />
            </div>
          </div>
        </div>

        <p-button
          type="submit"
          icon="pi pi-save"
          label="Cadastrar"
          class="mt-4 flex justify-content-end"
          [disabled]="!form.valid"
        />
      </p-card>
    </form>
  </div>

  <div class="col-3 p-0">
    <div class="col-3">
      <p-card
        header="Ricardo Bustamante"
        subheader="Lorem ipsum dolor sit amet..."
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://touchny.org/wp-content/uploads/2019/10/oldmanfaceread.jpg"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Enviar imagem"
              class="w-full text-primary"
              styleClass="w-full"
              icon="pi pi-upload"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
