<div class="grid">
  <div class="col-6">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Tenants</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end align-content-center">
    <p-button label="Cadastrar" icon="pi pi-plus" (onClick)="create()" />
  </div>

  <form
    [formGroup]="form"
    class="flex w-12 justify-content-between bg-bluegray-50 p-3 mb-4 mt-4"
  >
    <div class="grid w-full">
      <div class="col-3">
        <p-iconField iconPosition="right" class="mr-2">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar tenants"
            formControlName="search"
          />
        </p-iconField>
      </div>

      <div class="col-3">
        <p-dropdown
          formControlName="tier"
          [options]="tiers"
          optionLabel="label"
          optionValue="id"
          placeholder="Todos os planos"
        />
      </div>

      <div class="col-3">
        <p-dropdown
          formControlName="status"
          [options]="statuses"
          optionLabel="label"
          optionValue="id"
          placeholder="Todos os status"
        />
      </div>

      <div class="col-3">
        <p-dropdown
          class="flex w-50rem"
          [options]=""
          optionLabel="nome"
          optionValue="nome"
          placeholder="Todos itens"
        />
      </div>
    </div>
  </form>

  <!-- <ng-template *ngIf="(tenants$ | async)?.length != 0">
    <h1>NEHUM ITEM</h1>
  </ng-template> -->
  <!-- <h1>{{ (tenants$ | async)?.length }}</h1> -->

  <div class="w-full">
    <app-table
      [columns]="columns"
      [data]="(tenants$! | async)!"
      (edit)="editTenant($event)"
      (delete)="deleteTenant($event)"
    ></app-table>
  </div>
</div>
