<div class="flex justify-content-center align-items-center h-full in-bg-primary">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <p-card header="Cadastre-se" [style]="{ width: '400px' }">
      <div class="field">
        <label for="fullName">Nome Completo</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          class="w-full"
          name="fullName"
          placeholder="Nome Completo"
        />
      </div>
      <small
        *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
        class="block p-error"
      >
        <div *ngIf="fullName.errors?.['required']">
          É necessário preencher o nome completo.
        </div>
        <div *ngIf="fullName.errors?.['pattern']">E-mail deve ser válido.</div>
      </small>

      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="E-mail"
        />
      </div>
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">
          É necessário preencher o e-mail.
        </div>
        <div *ngIf="email.errors?.['email']">E-mail deve ser válido.</div>
      </small>

      <div class="field">
        <label for="password">Senha</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Senha"
        />
      </div>
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">
          É necessário preencher a senha.
        </div>
        <div *ngIf="password.errors?.['password']">Senha deve ser válida.</div>
      </small>

      <div class="field">
        <label for="confirmPassword">Confirmar senha</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
          name="confirmPassword"
          placeholder="Confirmar senha"
        />
      </div>

      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          É necessário preencher a confirmação de senha.
        </div>
      </small>

      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
      >
        Confirme a senha corretamente.
      </small>

      <p-button
        label="Cadastrar"
        styleClass="w-full"
        [disabled]="registerForm.invalid"
        type="submit"
      />
      <div class="mt-2">
        Já tem acesso? <a routerLink="/auth/login">Login</a>
      </div>
    </p-card>
  </form>
</div>
