<div class="grid h-full">
  <div class="col-6">
    <div class="flex -mb-4">
      <h2>Profissionais de Saúde</h2>
    </div>
    <p-divider />
  </div>
  <div class="col-6 bg-danger">
    <div class="flex justify-content-end">
      <p-button
        label="Cadastrar"
        icon="pi pi-plus"
        size="small"
        (onClick)="create()"
      />
      <p-button
        (click)="fileInput.click()"
        label="Importar XLS de Profissionais"
        icon="pi pi-file-excel"
        size="small"
        [outlined]="true"
        class="ml-2"
      />
      <input #fileInput type="file" style="display: none" />
    </div>
  </div>

  <form
    [formGroup]="form"
    class="flex w-12 justify-content-between bg-bluegray-50 p-3 mb-4"
  >
    <div class="w-9 flex justify-content-between">
      <div class="p-toolbar-group-center">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            pInputText
            placeholder="Buscar profissional"
            formControlName="search"
          />
        </span>
      </div>

      <p-dropdown
        formControlName="selectedCity"
        [options]="cities"
        optionLabel="name"
        placeholder="Todas as especialidades"
      />

      <p-dropdown
        formControlName="selectedCity"
        [options]="cities"
        optionLabel="name"
        placeholder="Todas as especialidades"
      />

      <p-dropdown
        formControlName="selectedCity"
        [options]="cities"
        optionLabel="name"
        placeholder="Todas as especialidades"
      />
    </div>
  </form>

  <div class="w-full">
    <app-table></app-table>
  </div>
</div>
