<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="grid">
  <div class="col-6 flex flex-column">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Profissionais de Saúde</app-bread-crumb
    >
  </div>
  <div class="col-6 bg-danger">
    <div class="flex justify-content-end">
      <p-button
        label="Cadastrar"
        icon="pi pi-plus"
        size="small"
        (onClick)="create()"
      />
      <p-button
        (click)="fileInput.click()"
        label="Importar XLS de Profissionais"
        icon="pi pi-file-excel"
        size="small"
        [outlined]="true"
        class="ml-2"
      />
      <input #fileInput type="file" style="display: none" />
    </div>
  </div>

  <form
    [formGroup]="form"
    class="flex w-12 justify-content-between bg-bluegray-50 p-3 mb-4"
  >
    <div class="grid w-full">
      <div class="col-3">
        <p-iconField iconPosition="right" class="mr-2">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            placeholder="Buscar profissional"
            formControlName="search"
          />
        </p-iconField>
      </div>

      <div class="col-3">
        <p-dropdown
          formControlName="role"
          [options]="roles"
          optionLabel="label"
          optionValue="id"
          placeholder="Todas as funções"
        />
      </div>

      <div class="col-3">
        <p-dropdown
          formControlName="state"
          [options]="states"
          optionLabel="nome"
          optionValue="sigla"
          placeholder="Todas os estados"
          (onChange)="loadCities()"
        />
      </div>

      <div class="col-3">
        <p-dropdown
          class="flex w-50rem"
          [options]="cities"
          optionLabel="nome"
          optionValue="nome"
          formControlName="city"
          placeholder="Todas as cidades"
        />
      </div>
    </div>
  </form>

  <div class="w-full">
    <app-table
      [columns]="columns"
      [data]="professionals"
      (edit)="editProfessional($event)"
      (delete)="deleteProfessinal($event)"
    ></app-table>
  </div>
</div>
