<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="grid">
  <div class="col-6 flex flex-column">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Dashboard do Paciente</app-bread-crumb
    >
  </div>
</div>

<div class="grid bg-primary">
  <div class="col-6">
    <p-card header="Ficha de cadastro: Fernanda Batista">
      <div class="gird flex">
        <div class="col-4 flex justify-content-center align-content-center">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            size="xlarge"
            shape="circle"
            class="pt-6"
          />
        </div>
        <div class="col-8">
          <p>Fernanda Batista Cardoso Nunes, 17 anos</p>
          <p>Carla Batista Nunes | Roberto Cardoso Souza</p>
          <p>Rua das Flores, 123, Jardim Sol, São Paulo, SP, 01234-567</p>
          <p>9876543210 - Ouro Familiar</p>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-6 h-full">
    <p-card header="Pendências">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="Documentação">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Histórico">
      <p class="m-0">Lorem ipsum dolor sit amet...</p>
    </p-card>
  </div>
</div>
