<div class="grid">
  <div class="col-6">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Meu Dashboard</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end align-content-center"></div>
</div>

<div class="grid mt-3 flex justify-content-between h-30rem">
  <div class="col-6">
    <p-card
      header="Minhas próximas consultas"
      subheader="Consultas agendadas para hoje"
      class="w-full justify-content-center"
    >
      <app-accordion></app-accordion>
    </p-card>
  </div>
  <div class="col-6 flex justify-content-center align-items-center">
    <p-card
      header="Por especialidades"
      subheader="Pacientes recentes por especialidades"
      class="w-full justify-content-center"
    >
      <div class="flex justify-content-center">
        <div class="w-6">
          <p-chart
            type="pie"
            [data]="data"
            [options]="options"
            class="w-10 h-15rem"
          ></p-chart>
        </div>
      </div>
    </p-card>
  </div>

  <!-- <div class="grid mt-6 flex justify-content-between h-22rem">
    <div class="col-4 flex justify-content-center align-content-center"></div>
    <div class="col-4 flex justify-content-center align-content-center"></div>
    <div class="col-4 flex justify-content-center align-content-center"></div>
  </div> -->
</div>
