<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="grid">
  <div class="col-6 flex flex-column">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Novo Paciente</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end">
    <p-button label="Imprimir" icon="pi pi-print" />
  </div>
</div>

<div class="grid">
  <div class="col-9">
    <form [formGroup]="form" (ngSubmit)="save()">
      <p-card header="Dados básicos" subheader="Informe os dados do paciente">
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="username">Nome completo</label>
              <input
                type="text"
                pInputText
                id="username"
                formControlName="name"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>CPF</label>
              <p-inputMask
                mask="999.999.999-99"
                formControlName="socialSecurityNumber"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>RG</label>
              <p-inputMask mask="99.999.999-9" formControlName="nationalId" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de nascimento</label>
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="dateOfBirth"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>N° Certidão de nascimento</label>
              <p-inputMask
                mask="9999.9999.9999.9999.9999.9999.9999.99"
                formControlName="birthCertificateNumber"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Nome da mãe</label>
              <input pInputText formControlName="motherName" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Nome do pai</label>
              <input pInputText formControlName="fatherName" />
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Plano de Saúde</b>
        </p-divider>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>N° carteirinha (Plano de Saúde)</label>
              <p-inputMask
                mask="999999999/99"
                formControlName="healthPlanNumber"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="username">Nome do plano</label>
              <input type="text" pInputText formControlName="healthPlanName" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Tipo do plano</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="healthPlanTypes"
                optionLabel="label"
                optionValue="id"
                formControlName="healthPlanType"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Orientações parentais</label>
              <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Informações adicionais</label>
              <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Endereço e contatos</b>
        </p-divider>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>CEP</label>
              <p-inputMask
                mask="99999-999"
                formControlName="zipCode"
                (onBlur)="getAddressByZipCode()"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Estado</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="states"
                optionLabel="nome"
                optionValue="sigla"
                formControlName="state"
                (onChange)="loadCities()"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Cidade</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="nome"
                optionValue="nome"
                formControlName="city"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Bairro</label>
              <input pInputText formControlName="neighborhood" />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Logradouro</label>
              <input pInputText formControlName="street" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Número</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="addressNumber"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Complemento</label>
              <input
                pInputText
                formControlName="additionalAddressInformation"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Celular</label>
              <p-inputMask mask="(99) 99999-9999" formControlName="phone" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>E-mail</label>
              <input pInputText formControlName="email" />
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Documentos e anexos</b>
        </p-divider>

        <div class="bg-primary">aqui</div>

        <div class="flex justify-content-end">
          <p-button
            label="Anexar arquivo"
            icon="pi pi-file-import"
            [text]="true"
            class="mb-4"
            pTooltip="Limite até 15MB"
            showDelay="1000"
          />
        </div>

        <app-file-card
          *ngFor="let item of items"
          [title]="'Certidão de nascimento (.pdf)'"
        />

        <p-button
          type="submit"
          icon="pi pi-save"
          [label]="btnTitle"
          class="mt-4 flex justify-content-end"
          [disabled]="form.invalid"
        />
      </p-card>
    </form>
  </div>

  <div class="col-3 p-0">
    <div class="col-3">
      <p-card
        header="Fernando Batista"
        subheader="Carla Batista Nunes"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://a.storyblok.com/f/191576/1200x800/12d0d08ce3/change_background_color_before_.webp"
          />
        </ng-template>
        <p>Lorem ipsum dolor sit amet...</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="WhatsApp"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-whatsapp"
            />
            <p-button
              label="Enviar foto"
              class="w-full text-primary"
              styleClass="w-full"
              icon="pi pi-upload"
            />
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="col-3">
      <p-card
        header="Histórico de consultas"
        subheader="Consultas e diagnósticos"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header"> </ng-template>
        <p>Lorem ipsum dolor sit amet...</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Ver mais"
              class="w-full text-primary"
              styleClass="w-full"
              icon="pi pi-plus"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
