<p-button
  (onClick)="showDialog()"
  [icon]="icon"
  [rounded]="true"
  [text]="true"
  [severity]="severity"
/>
<p-dialog
  [header]="title"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>{{ description }}</p>
  <div class="flex justify-content-end gap-2">
    <p-button outlined="true" (onClick)="cancel()">Cancelar</p-button>
    <p-button (onClick)="confirm()">Confirmar</p-button>
  </div>
</p-dialog>
