<p-table
  [value]="data"
  [paginator]="true"
  [rows]="10"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
      <th></th>
      <!-- <th>actions</th>  -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngFor="let column of columns">{{ rowData[column.field] }}</td>
      <td>
        <div class="grid justify-content-evenly">
          <p-button
            icon="pi pi-user-edit"
            [rounded]="true"
            [text]="true"
            (onClick)="editItem(rowData)"
          ></p-button>
          <app-dialog
            icon="pi pi-trash"
            severity="danger"
            title="Confirmar exclusão?"
            [description]="rowData.name"
            (confirm)="deleteItem(rowData)"
          >
        </app-dialog>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
