<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="grid">
  <div class="col-6 flex flex-column">
    <app-bread-crumb class="mb-4" [items]="breadcrumbItems"
      >Profissional de Saúde</app-bread-crumb
    >
  </div>
  <div class="col-6 flex justify-content-end">
    <p-button label="Imprimir" icon="pi pi-print" (onClick)="print()" />
  </div>
</div>
<div class="grid">
  <div class="col-9">
    <form [formGroup]="form" (ngSubmit)="save()">
      <p-card
        header="Dados básicos"
        subheader="Informe os dados do profissional de saúde"
      >
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="username">Nome completo</label>
              <input
                type="text"
                pInputText
                id="username"
                formControlName="name"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="cnpj-cpf">CPF</label>
              <p-inputMask
                mask="999.999.999-99"
                formControlName="socialSecurityNumber"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="cnpj-cpf">RG</label>
              <p-inputMask mask="99.999.999-9" formControlName="nationalId" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de nascimento</label>
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="dateOfBirth"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Registro profissional</label>
              <input pInputText formControlName="professionalLicense" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Função</label>
              <p-dropdown
                class="flex"
                [options]="roles"
                optionLabel="label"
                optionValue="id"
                formControlName="role"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Especialidade</label>
              <input pInputText formControlName="specialty" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Escolaridade</label>
              <p-dropdown
                class="flex"
                [options]="educationalLevels"
                optionLabel="label"
                optionValue="id"
                formControlName="educationLevel"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Formação</label>
              <input pInputText formControlName="academicBackground" />
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Endereço e contatos</b>
        </p-divider>

        <!-- address and contacts -->
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>CEP</label>
              <p-inputMask
                mask="99999-999"
                formControlName="zipCode"
                (onBlur)="getAddressByZipCode()"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Estado</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="states"
                optionLabel="nome"
                optionValue="sigla"
                formControlName="state"
                (onChange)="loadCities()"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Cidade</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="nome"
                optionValue="nome"
                formControlName="city"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Bairro</label>
              <input pInputText formControlName="neighborhood" />
            </div>
          </div>
        </div>

        <!-- address and contacts line 2 -->
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Logradouro</label>
              <input pInputText formControlName="street" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Número</label>
              <p-inputNumber
                inputId="integeronly"
                formControlName="addressNumber"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Complemento</label>
              <input
                pInputText
                formControlName="additionalAddressInformation"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Telefone fixo</label>
              <p-inputMask mask="(99) 9999-9999" formControlName="phone" />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Celular</label>
              <p-inputMask mask="(99) 99999-9999" formControlName="phone2" />
            </div>
          </div>
        </div>

        <!-- tecnical data -->

        <p-divider align="left" type="solid">
          <b>Dados de contratação</b>
        </p-divider>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de contratação</label>
              <p-calendar
                [(ngModel)]="date1"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="dateOfHire"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Tipo de contrato</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="contractTypes"
                optionLabel="label"
                optionValue="id"
                formControlName="contractType"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de pagamento</label>
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="paymentDate"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Modelo de recebimento</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="receivingMethod"
                optionLabel="label"
                optionValue="id"
                formControlName="receivingMethod"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Dados de pagamento</label>
              <input pInputText formControlName="paymentInformation" />
            </div>
          </div>
        </div>

        <p-button
          type="submit"
          icon="pi pi-save"
          [label]="btnTitle"
          class="mt-4 flex justify-content-end"
          [disabled]="form.invalid"
        />
      </p-card>
    </form>
  </div>

  <div class="col-3 p-0">
    <div class="col-3">
      <p-card
        header="Jorge de Sousa Cabral"
        subheader="Clínico Geral"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://wp.globaluniversitysystems.com/mua/wp-content/uploads/sites/10/2023/03/board-certified-doctor-meaning.webp"
          />
        </ng-template>
        <p>Lorem ipsum dolor sit amet...</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="WhatsApp"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-whatsapp"
              (onClick)="openWhatsApp()"
            />
            <p-button
              label="Enviar foto"
              class="w-full text-primary"
              styleClass="w-full"
              icon="pi pi-upload"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
