<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="grid">
  <div class="col-9">
    <h2 class="-mb-4">Profissional de Saúde</h2>
    <app-bread-crumb class="mb-4 m-2"></app-bread-crumb>

    <form [formGroup]="form" (ngSubmit)="save()">
      <p-card
        header="Dados básicos"
        subheader="Informe os dados do profissional de saúde"
      >
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="username">Nome completo</label>
              <input
                type="text"
                pInputText
                id="username"
                placeholder="Jorge de Sousa Cabral"
                formControlName="name"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="cnpj-cpf">CPF</label>
              <p-inputMask
                mask="999.999.999-99"
                placeholder="102.334.840-35"
                formControlName="socialSecurityNumber"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label for="cnpj-cpf">RG</label>
              <p-inputMask
                mask="99.999.999-9"
                id="cnpj-cpf"
                placeholder="36.281.140-4"
                formControlName="nationalId"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de nascimento</label>
              <p-calendar
                placeholder="12/04/2012"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="dateOfBirth"
              />
            </div>
          </div>
        </div>

        <!-- line 02 -->
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Registro profissional</label>
              <input
                pInputText
                placeholder="856824"
                formControlName="professionalLicense"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Função</label>
              <p-dropdown
                class="flex"
                [options]="cities"
                optionLabel="name"
                placeholder="Psicóloga"
                formControlName="role"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Especialidade</label>
              <input
                pInputText
                placeholder="Odontologia"
                formControlName="specialty"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Escolaridade</label>
              <p-dropdown
                class="flex"
                [options]="cities"
                optionLabel="name"
                placeholder="Superior Completo"
                formControlName="educationLevel"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Formação</label>
              <input
                pInputText
                placeholder="Psicologia"
                formControlName="academicBackground"
              />
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Endereço e contatos</b>
        </p-divider>

        <!-- address and contacts -->
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>CEP</label>
              <p-inputMask
                mask="99999-999"
                placeholder="55196-015"
                formControlName="zipCode"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Estado</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="name"
                placeholder="Rio de Janeiro"
                formControlName="state"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Cidade</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="name"
                placeholder="Rio de Janeiro"
                formControlName="city"
              />
            </div>
          </div>
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Bairro</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="name"
                placeholder="Copacabana"
                formControlName="neighborhood"
              />
            </div>
          </div>
        </div>

        <!-- address and contacts line 2 -->
        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Logradouro</label>
              <input
                pInputText
                placeholder="Av. Gentúlio Vargas"
                formControlName="street"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Número</label>
              <p-inputNumber
                inputId="integeronly"
                placeholder="54"
                formControlName="addressNumber"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Complemento</label>
              <input
                pInputText
                placeholder="3° Prédio, Térreo"
                formControlName="additionalAddressInformation"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Telefone fixo</label>
              <p-inputMask
                mask="(99) 9999-9999"
                placeholder="(21) 8574-5236"
                formControlName="phone"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Celular</label>
              <p-inputMask
                mask="(99) 99999-9999"
                placeholder="(21) 98574-5236"
                formControlName="phone2"
              />
            </div>
          </div>
        </div>

        <!-- tecnical data -->

        <p-divider align="left" type="solid">
          <b>Dados de contratação</b>
        </p-divider>

        <div class="grid">
          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de contratação</label>
              <p-calendar
                placeholder="12/04/2012"
                [(ngModel)]="date1"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="dateOfHire"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Tipo de contrato</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="name"
                placeholder="PJ"
                formControlName="contractType"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Data de pagamento</label>
              <p-calendar
                placeholder="12/04/2012"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                formControlName="paymentDate"
              />
            </div>
          </div>

          <div class="col-3">
            <div class="flex flex-column gap-2">
              <label>Modelo de recebimento</label>
              <p-dropdown
                class="flex w-50rem"
                [options]="cities"
                optionLabel="name"
                placeholder="Diária"
                formControlName="receivingMethod"
              />
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-6">
            <div class="flex flex-column gap-2">
              <label>Dados de pagamento</label>
              <input
                pInputText
                placeholder="c/c 45456"
                formControlName="paymentInformation"
              />
            </div>
          </div>
        </div>

        <p-button
          type="submit"
          icon="pi pi-save"
          label="Cadastrar"
          class="mt-4 flex justify-content-end"
          [disabled]="form.invalid"
        />
      </p-card>
    </form>
  </div>

  <!-- Card com imagem de profissinal -->
  <div class="col-3">
    <div class="col-3">
      <p-card
        header="Jorge de Sousa Cabral"
        subheader="Clínico Geral"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://wp.globaluniversitysystems.com/mua/wp-content/uploads/sites/10/2023/03/board-certified-doctor-meaning.webp"
          />
        </ng-template>
        <p>Lorem ipsum dolor sit amet...</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Imprimir"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-print"
              (onClick)="print()"
            />
            <p-button
              label="Enviar foto"
              class="w-full"
              styleClass="w-full"
              icon="pi pi-upload"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
