@import 'classes.scss';

::ng-deep p-inputMask {
  width: 100%;
}

::ng-deep p-inputMask input {
  width: 100%;
}

::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-inputnumber {
  width: 100%;
}

